.idea/
.vscode/

build/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
Makefile
cmake_install.cmake
compile_commands.json
build.ninja
.ninja_deps
.ninja_log

*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.so
*.dylib

program
